body{
    width:100%;
    height:100vh;
    display:flex;
    
    justify-content:center;
    align-items:center;
}

i{
    font-size:40px;
    color:purple;
}

/* .stars:hover i{

    color:coral;

}

 .far:hover~.far{
    color:purple;
}
 */
